/*

Paleta a futuro para botoneras y contraste. 
Los colores que uso en los Tasks de Plan!  
#577590 queen blue
#43AA8B zomp
#90BE6D pistachio
#F0F9F7 cream mint {Body}
*/

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

body {
	font-family: 'Reem Kufi', sans-serif;
}

header, section, footer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;

}

header {
	height: 50px;
	background-color: #577590;


}

#video_scrum{
	margin-left: 10em;
	margin-top: 10em;
	
	}

#marca {
	width: 200px;
	height: 40px;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	filter: invert(1);

}

.img_logo {
   background-image: url('images/logotransOK.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;

}

#botonera_principal {
	width: 430px;
	height: 40px;
	margin-top: 5px;
	margin-right: 0;
	float: right;


}

.boton {
	margin-left: 0.5em;
}



ul {
	display: inline;
	list-style-type: none;
	padding: 1em;
		
}

ul li {
	display: inline-block;
		
}

ul li a {
	text-decoration: none;
	font-size: 1em;
	color: white;

}

ul li a:hover {
	background-color: #43AA8B;
	border-radius: 0.225em;
	padding: 0.3em;

}

ul li a:active {
	color: #90BE6D;
}



#contenido_index {
	height: 730px;
	background-color: #F0F9F7;
}

#contenido_video {
	height: 730px;
	background-color: #F0F9F7;
}

#banner_principal {
	width: 640px;
	height: 230px;
	background-image: url("images/banner.png");
	background-position: center;
	background-size: cover; 
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;

}


/* eventualmente un login para mayoristas, tambien? */
#formu_news {
	width: 290px;
	height: 230px;
	background-color: #577590;
	color: #F0F9F7;
	border-radius: 0.5em;
	float:right;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px; 

}

.boton_envio {
	width: 80px;
	background-color: #90BE6D;
	color: black;
	font-family: 'Reem Kufi', sans-serif;
	font-size: medium;
	font-weight: bolder;

}

.boton_envio:active {
	background-color: red;
}

p {
	text-align: justify-all;
	margin-left: 1em;
	margin-right: 1em;
	font-size: large;
}

input {
	width: 260px;
	margin-left: 0.9em;
	padding: 0.1em;
	border-radius: 0.2em;
}

#msj_bienvenida {
	width: 500px;
	height: 35px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	font-size: 1.15em;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0.1em;
	box-shadow:  0.1px 0.3px 5px grey;


}

/* Cajas ******************/

.container_caja {
	background-color: #F0F9F7;
	width: 295px;
	height: 200px;
	border-radius: 0.125em;
	box-shadow:  0.1px 0.5px 5px grey;
}

.detalle_h3 {
	text-transform: uppercase; 
	font-size: bold;
	text-align: center;
	margin-top: 15px;
	background-color: rgba(255,255,255,0.1);
	box-sizing: border-box;
	border-radius: 10px;
	

}

#img_promos { 
	margin-left: 10px;
	margin-top: 15px;
	float: left;
	background-image: url(images/6.png);

}

#txt_promos {
	width: 100px;
	height: 50px;
	float: right;
	margin-top: 80px;
	margin-right: 50px; 
}


#img_productos {
	margin-left: 30px;
	margin-top: 15px;
	float: left;
	background-image: url(images/2.png);
}

#txt_productos {
	width: 100px;
	height: 50px;
	margin-left: 20px;
	margin-top: 20px; 
}

#img_nosotros {
	margin-left: 10px;
	margin-top: 15px;
	margin-right: 10px;
	float: right;
	background-image: url(images/1.png);

}

#txt_nosotros {
	width: 100px;
	height: 50px;
	float: left;
	margin-top: 130px;
	margin-left: 20px; 
}

#img_medios_pago { 
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	background-image: url(images/4.png);

}

#txt_pago {
	width: 100px;
	height: 50px;
	margin-left: 20px;
	margin-top: 120px;  
}


#img_medios_envio {
	margin-left: 30px;
	margin-top: 10px;
	float: left;
	background-image: url(images/5.png);

}

#txt_envio {
	width: 100px;
	height: 50px;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}

#img_contacto {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	background-image: url(images/3.png);

}

#txt_contacto {
	width: 100px;
	height: 50px;
	float: right;
	margin-top: 80px;
	margin-right: 10px;
}

/********** FOOTER *******************/



footer {
	height: 30px;
	background-color: #577590;

}



#logo_chico /*con bajada*/{
	width: 250px;
	height: 20px;
	background-image: url(images/logotransOK.png);
	background-position: left;
   	background-repeat: no-repeat;
   	background-size: contain;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	filter: invert(1);

}

h6 {
	margin: 0 0 0 90px;
	font-size: xx-small;
	padding: 1em;
	filter: invert(0);
	
}

#direccion {
	width: 195px;
	height: 20px;
	float: left;
	margin-left: 150px;
	margin-top: 10px;
	color: white;
	font-size: small;
}

#redes_icon {
	width: 200px;
	height: 20px;
	float: right;
	filter: invert(1);
	margin-top: 0.3em;
	margin-left: 0.1em;
	margin-right: 0.5em;
	text-align: right;
}







