/*
* Completar el desarrollo de contenido 
(texto, imágenes, etc) de la página de inicio.
* Crear una nueva sección 
(de las planteadas en la botonera principal) 
dentro del sitio que utilice alguna de las 
incorporaciones de HTML5:
* Un formulario, aplicando los nuevos valores de 
atributos incorporados en HTML5
* Un elemento multimedial (video, audio)*/

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

body {
	font-family: 'Reem Kufi', sans-serif;
}

header, section, footer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;

}

/* Paleta a futuro para botoneras y contraste. 
Los colores que uso en los Tasks de Plan! (ver cremita o mas claro para body) 
#577590 
#43AA8B
#90BE6D

*/

header {
	height: 50px;

}

#marca {
	width: 200px;
	height: 40px;
	background-color: #8CA5BA;
	float: left;
	margin-top: 5px;
	margin-right: 5px;

}

#botonera_principal {
	width: 430px;
	height: 40px;
	float: right;
	margin-top: 5px;
	margin-left: 5px;

}

ul {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 10;
}

ul li {
	display: inline-block;

}

ul li a {
	color: ;
}

ul li a:hover {
	background-color: white;
	color: white;
}

#contenido_index {
	height: 720px;
	background-color: #6DC5AB;
}

#banner_principal {
	width: 740px;
	height: 230px;
	background-color: #99D6C9;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;

}

#txt_banner {
	width: 200px;
	height: 80px;
	background-color: #1D493F;
	margin-left: 20px;
	margin-top: 120px;

}

/* eventualmente un login para mayoristas, tambien? */
#newsletter {
	width: 190px;
	height: 230px;
	background-color: #1D493C;
	float:right;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 10px; 

	
}

#msj_bienvenida {
	width: 500px;
	height: 35px;
	background-color: #C9DFB9;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;


}

/* Cajas con img que van a tener titulos 
que no esten alineados de la misma manera siempre
 (no txt), q redireccionen a cada página. */

#img_promos { 
	width: 295px;
	height: 200px;
	background-color: #809BB3;
	margin-left: 10px;
	margin-top: 15px;
	float: left;

}

#txt_promos {
	width: 100px;
	height: 50px;
	background-color: #1D493F;
	float: left;
	margin-top: 80px;
	margin-left: 100px; 
}


#img_productos {
	width: 295px;
	height: 200px;
	background-color: #809BB3;
	margin-left: 30px;
	margin-top: 15px;
	float: left;

}

#txt_productos {
	width: 100px;
	height: 50px;
	background-color: #1D493F;
	margin-left: 20px;
	margin-top: 20px; 
}

#img_nosotros {
	width: 295px;
	height: 200px;
	background-color: #809BB3;
	margin-left: 10px;
	margin-top: 15px;
	margin-right: 10px;
	float: right;

}

#txt_nosotros {
	width: 100px;
	height: 50px;
	background-color: #1D493F;
	float: right;
	margin-top: 130px;
	margin-right: 20px; 
}

#img_medios_pago { 
	width: 295px;
	height: 200px;
	background-color: #809BB3;
	margin-left: 10px;
	margin-top: 10px;
	float: left;

}

#txt_pago {
	width: 100px;
	height: 50px;
	background-color: #1D493F;
	margin-left: 20px;
	margin-top: 120px;  
}


#img_medios_envio {
	width: 295px;
	height: 200px;
	background-color: #809BB3;
	margin-left: 30px;
	margin-top: 10px;
	float: left;

}

#txt_envio {
	width: 100px;
	height: 50px;
	background-color: #1D493F;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

#img_contacto {
	width: 295px;
	height: 200px;
	background-color: #809BB3;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;

}

#txt_contacto {
	width: 100px;
	height: 50px;
	background-color: #1D493F;
	float: left;
	margin-top: 80px;
	margin-left: 20px;
}

footer {
	height: 30px;
	background-color: #577590;

}

#logo_chico /*con bajada*/{
	width: 150px;
	height: 20px;
	background-color: #F94144;
	float: left;
	margin-left: 10px;
	margin-top: 5px;

}

#direccion {
	width: 295px;
	height: 20px;
	background-color: #FB888A;
	float: left;
	margin-left: 175px;
	margin-top: 5px;
}

#redes_icon {
	width: 200px;
	height: 20px;
	background-color: #8A0507;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}





